@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.pc{
    position: absolute;
    width:90%;
    left:6%;
    opacity: 0.8;
}
.pimg{
    position: absolute;
    width:65%;
    height:29%;
    left:19%;
    top:5%;
    opacity: 0.75;
    border-radius: 9px 9px 0 0;
}
.card-ctn{
    background-color: #1a1d21   ;
    width:30%;
    height:40%;
    position: relative;
    margin: 45px;
    border-radius: 10px;
    transform: scale(1);
    transition: all ease-in-out 0.4s;
}
.card-ctn:hover{
    box-shadow:3px 3px 60px #11111123;
        transform: scale(1.025);
        transition: all ease-in-out 0.3s;
    z-index: 2;
}
.title{
    position: absolute;
    top:43%;
    font-family: "Bebas Neue", sans-serif;
    color:#EFE9F4;
    font-weight: 200;
    left:10%;
}
.ghub{
    position: absolute;
    left:35%;
    top:65%;
    background-color: #98c1d9;
    width: 25%;
    border-radius: 3px;
    height:10%;
    border-style: none;
}